<p *ngIf = "!(posts$ )">Loding...</p>
<br>


    <mat-accordion>
        <mat-expansion-panel *ngFor = "let post of posts$ | async">
          <mat-expansion-panel-header>
         {{post.title}} <br>
        Likes {{post.likes}}
          </mat-expansion-panel-header>
          body: {{post.body}}
          <button mat-raised-button color="primary" (click)=deletepost(post.id)>
                Delete Book
            </button>

            <button mat-raised-button color="primary" (click)=likepost(post.id,post.likes)>
                   Like
                </button>
        </mat-expansion-panel>

      </mat-accordion>