
<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of postsdata$" >   

      <mat-expansion-panel-header>
        <mat-panel-title>
             <p>{{message}} </p> 
            <p>post id: {{post.id}} , title: {{post.title}}</p>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <h2>post:</h2> {{post.body}}
     <div *ngFor="let comment of commentsdata$" >
            <div *ngIf = "comment.postId == post.id ; other"> <h3> comment:</h3> {{comment.body}}  </div>
      </div> 
      <button mat-raised-button color="primary" (click)= savePost(post.title,post.body)> Save </button>
    </mat-expansion-panel>
  </mat-accordion>

