<p>Below will be your collection, if its empty so your collection is empty </p>
<div class="container">
    <mat-accordion>
      <!-- <mat-expansion-panel *ngFor = "let book of books"> -->
        <p *ngIf= "!(articles$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
          <mat-expansion-panel *ngFor = "let article of articles$ | async" >  <!-- רישום לאובסרבל -->
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{article.doc}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        Category: {{article.category}}<br><br>
        <button mat-raised-button color="primary" (click)="deleteArticle(article.id)" >Delete</button>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  
  
  
  
  